{% extends "layout.html" %}
{% block content %}
<div class="all" >
    <div class="box left"id="Team">
      <div class="default-text">!!!
        </div>
      <div class="box-caption">RideShare</div>
    </div>
    <div class="box center">
      <div class="explainer"><span></span></div>
      <div class="default-text">Static Void RideShare</div>
      <div class="box-caption">Hover over the Card</div>
    </div>
    <div class="box right">
      <div class="default-text">????</div>
      <div class="box-caption">Why US</div>
    </div>
  </div>
<div class="TopLeft"><div class="icon">
    <div class="taxi">
      <div class="road"><div></div><div></div><div></div><div></div><div></div></div>
      <div class="shape"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div class="taxi-name">SV</div>
      </div>  
    </div>
  </div></h1></div>
<div class="TopRight"><h1 class="text-white m-5 text-center"></h1></div>
<div class="BottomLeft"><h1 class="text-white m-5 text-center"></h1></div>
<div class="BottomLeft"><h1 class="text-white m-5 text-center"></h1></div>

{% endblock %}
