{% extends "layout.html" %}
{% block content %}
<div class="container ">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 ">
          <div class="card-body">
            <h5 class="card-title text-center">Join Us</h5>
            <form class="form-signin">
                <div class="form-label-group">
                    <input type="text" id="f-name" name="f-name" class="form-control" placeholder="First Name" >
                    <label for="f-name">First Name</label>
                  </div>
                  <div class="form-label-group">
                    <input type="text" id="l-name" name="l-name" class="form-control" placeholder="Last Name" >
                    <label for="l-name">Last Name</label>
                  </div>
                  <div class="form-label-group">
                    <input type="text" id="p-num" name="p-num" class="form-control" placeholder="Phone Number" >
                    <label for="p-num">Phone Number</label>
                  </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" >
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
                <label for="password">Password</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="r-Password" name="r-Password" class="form-control" placeholder="Password" >
                <label for="r-Password">retype Password</label>
              </div>

              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign UP</button>
              <br><br><a href="{{url_for('SISU')}}" class="link-primary ">already a member?</a><br><br>
             

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}